@model IEnumerable<Cinema>
@{
    ViewData["Title"] = "List of Cinemas";
}

<div class="row"> 
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.LogoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.CinemaName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Model in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <head>
                                <style> img {border-radius: 8px;} </style>
                            </head>
                                <body>
                                    <img src="@Model.LogoURL" alt="@Model.CinemaName" style="width:150px; height:200px">
                                </body>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelModel=> Model.CinemaName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelModel => Model.Description)
                        </td>
                        <td class="align-middle">
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit</a> 
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-eye"></i>Details</a> 
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>

    </div>

</div>
<div style="position:fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New </a>
</div>