@model IEnumerable<Movie>
@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px; height: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <td class="align-middle">
                            <head>
                                <style>
                                    img {
                                        border-radius: 2px;
                                    }
                                </style>
                            </head>
                            <body>
                                <img src="@item.ImageURL" style=" width:240px; height:400px;" alt="@item.Title">
                            </body>
                        </td>

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text" style="max-width:100%; max-height:150px; word-wrap:break-word; overflow:hidden;">@item.Description </p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.CinemaName</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-lg-end"><i class="bg-info bi-eye-fill"></i> Show Details </a>
                                <a class="btn btn-success float-lg-start text-white"><i class="bi bi-cart-plus"></i> Add to Cart ($@item.Price)</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</div>
